@charset "UTF-8";
* {
  font-family: "LatoRegular";
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

/*==========================
BEGIN. Первая секция
==========================*/
.begin {
  width: 100%;
  height: 820px;
  background: url("../img/home.jpg") no-repeat top;
  padding-top: 450px;
  background-size: cover;
}

.begin h1 {
  color: #fff;
  font-weight: bold;
}

.begin h1 span {
  color: #cf000f;
}

.begin h2 {
  color: #fff;
  font-weight: 300;
}

.begin .fa-angle-down {
  position: relative;
  left: 30px;
  top: 30px;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  -webkit-animation-name: fa-angle-down-animation;
          animation-name: fa-angle-down-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.begin .fa-angle-down:hover {
  color: #cf000f;
}

@-webkit-keyframes fa-angle-down-animation {
  from {
    top: 30px;
  }
  50% {
    top: 50px;
  }
  to {
    top: 30px;
  }
}

@keyframes fa-angle-down-animation {
  from {
    top: 30px;
  }
  50% {
    top: 50px;
  }
  to {
    top: 30px;
  }
}

/*==========================
ABOUT. Вторая секция
==========================*/
.about {
  position: relative;
  width: 100%;
  height: 100%;
}

.about_info {
  margin-top: -50px;
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
}

.about_info_h2 {
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}

.about_info_ul {
  list-style: none;
}

.about_info_ul li {
  line-height: 36px;
}

.about_info_ul li span {
  color: #cf000f;
}

.about_button_red {
  padding: 12px 20px;
  background-color: #cf000f;
  border: none;
  text-transform: uppercase;
  font-family: "LatoRegular";
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-top: 20px;
}

.about_info_text {
  padding-top: 60px;
  line-height: 36px;
}

.social_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.social, .facebook, .twitter, .vk, .ok {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 0 10px;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.social:hover, .facebook:hover, .twitter:hover, .vk:hover, .ok:hover {
  background: #cf000f;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.facebook {
  background-color: #2d5da1;
  padding: 0 11px;
}

.twitter {
  background-color: #1ab1e5;
}

.vk {
  background-color: #2d5da1;
  padding: 0 8px;
}

.ok {
  background-color: #EE8208;
  padding: 0 11px;
}

.progressbar_block {
  padding: 60px 0 0 0;
}

.progressbar {
  color: #000;
  font-weight: bold;
  margin-bottom: 35px;
}

.progressbar h5 {
  margin-bottom: 20px;
}

.progressbar_line {
  height: 5px;
  background-color: #E5E5E5;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.progressbar_line_inner, .photoshop, .dreamviewer, .effect, .illustrator {
  height: 5px;
  background-color: #CF000F;
  -webkit-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
}

.photoshop {
  width: 80%;
}

.dreamviewer {
  width: 60%;
}

.effect {
  width: 30%;
}

.illustrator {
  width: 70%;
}

.services {
  border-top: 1px solid #ededed;
  margin-top: 40px;
  padding-top: 40px;
}

.services_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services_inner_text {
  margin: 10px 10px;
}

.services_inner_text h5 {
  color: #000;
  font-weight: bold;
}

.services_inner_img, .search, .design, .apple, .code {
  width: 55px;
  height: 55px;
  padding: 15px 18px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #b6bbc7;
  color: #fff;
  font-size: 21px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services_inner_img:hover, .search:hover, .design:hover, .apple:hover, .code:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: #fff;
  color: #b6bbc7;
}

.design {
  padding: 15px 17px;
}

.apple {
  padding: 15px 19px;
}

.code {
  padding: 15px 17px;
}

/*==========================
PORTFOLIO. Третья секция
==========================*/
.portfolio {
  background-color: #eceef1;
  padding: 50px 0;
}

.portfolio h3 {
  font-weight: bold;
  margin-bottom: 30px;
}

.portfolio_filter {
  width: 300px;
  margin-bottom: 30px;
}

.portfolio_filter ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio_filter ul li {
  font-size: 15px;
  cursor: pointer;
}

.portfolio_filter ul li:hover {
  color: #cf000f;
}

.active {
  color: #cf000f;
}

.portfolio_block {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.portfolio_block:hover .portfolio_block_overlay {
  opacity: 0.8;
  background-color: #cf000f;
}

.portfolio_block:hover .portfolio_block_overlay_link, .portfolio_block:hover .link_search {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.portfolio_block img {
  width: 100%;
}

.portfolio_block_overlay {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 120px 20px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio_block_overlay h4 {
  margin-bottom: 20px;
}

.portfolio_block_overlay p {
  margin-bottom: 20px;
}

.portfolio_block_overlay_link, .link_search {
  display: inline-block;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.63);
  padding: 14px 0;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.portfolio_block_overlay_link:hover, .link_search:hover {
  color: #fff;
}

.portfolio_block_overlay_link:focus, .link_search:focus {
  color: #fff;
}

.link_search {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

/*==========================
RESUME. Четвертая секция
==========================*/
.resume {
  padding: 50px 0;
}

.resume h3 {
  margin-bottom: 50px;
}

.resume_red_circle, .fa-graduation-cap, .fa-suitcase {
  width: 55px;
  height: 55px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #cf000f;
  padding: 18px 19px;
}

.fa-graduation-cap {
  color: #fff;
  font-size: 18px;
  padding: 19px 17px;
}

.fa-suitcase {
  color: #fff;
  font-size: 18px;
}

.resume_info_block {
  padding-left: 28px;
}

.resume_info_item {
  border-left: 2px solid #e5e5e5;
  padding: 0 30px 50px 20px;
}

.resume_info_item:first-child {
  padding: 30px 30px 50px 20px;
}

.resume_info_item:last-child {
  border: none;
}

.resume_info_item h4 {
  color: #000;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.resume_info_item h4::after {
  content: '';
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  float: left;
  margin: 0 0 0 -26px;
  background-color: #cf000f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.resume_info_item span {
  display: inline-block;
  color: #cf000f;
  margin-bottom: 10px;
}

.resume_info_item p {
  line-height: 30px;
}

/*==========================
PRICING. Пятая секция
==========================*/
.pricing {
  background-color: #eceef1;
  padding: 50px 0;
}

.pricing h3 {
  font-weight: bold;
  margin-bottom: 50px;
}

.pricing_item {
  background-color: #fff;
  text-align: center;
  padding: 40px 0 30px 0;
  margin-bottom: 20px;
}

.pricing_item span {
  font-size: 14px;
  font-weight: bold;
  color: #706f6f;
}

.pricing_item span b {
  font-size: 45px;
  font-weight: bold;
  color: #706f6f;
}

.pricing_item h5 {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0;
}

.pricing_item .span_red {
  color: #cf000f;
}

.pricing_item .span_red b {
  color: #cf000f;
}

.pricing_item_ul {
  list-style: none;
}

.pricing_item_ul li {
  font-size: 13px;
  color: #a2a2a2;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
}

.pricing_button_black {
  padding: 12px 20px;
  background-color: #000;
  border: none;
  text-transform: uppercase;
  font-family: "LatoRegular";
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  width: 150px;
  margin: 0 auto;
}

.pricing_button_red {
  padding: 12px 20px;
  background-color: #cf000f;
  border: none;
  text-transform: uppercase;
  font-family: "LatoRegular";
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  width: 150px;
  margin: 0 auto;
}

/*==========================
SLIDER. Шестая секция
==========================*/
.slider_wrapper {
  padding: 100px 0;
}

.slider_block {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slider_block_text {
  margin: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider_block_text h5 {
  color: #cf000f;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.slider_block_text h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.slider_block_text p {
  line-height: 30px;
}

/*==========================
BLOG. Седьмая секция
==========================*/
.blog {
  padding: 50px 0;
  background-color: #eceef1;
}

.blog h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.blog_post_img img {
  width: 100%;
}

.blog_post_text {
  background-color: #fff;
  padding: 24px 15px 0 15px;
  overflow: hidden;
}

.blog_post_text h5 {
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}

.blog_post_text span {
  display: inline-block;
  color: #cf000f;
  margin-bottom: 10px;
}

.blog_post_text p {
  line-height: 24px;
  margin-bottom: 20px;
}

.blog_post_text a {
  float: right;
  color: #000;
  font-weight: bold;
  border-bottom: 3px solid #cf000f;
  padding-bottom: 8px;
}

.blog_post_text a:hover {
  text-decoration: none;
  color: #cf000f;
}

/*==========================
CONTACT. Восьмая секция
==========================*/
.contact {
  width: 100%;
  height: 100%;
}

.contact_me {
  padding: 50px 0;
}

.contact_me h3 {
  font-weight: bold;
}

#map_canvas {
  height: 500px;
}

.contact_block {
  padding: 50px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
  margin-top: -50px;
  position: relative;
  z-index: 100;
}

.contact_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_info h5 {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact_info p {
  margin-bottom: 20px;
}

.contact_info span {
  margin-bottom: 30px;
}

.contact_info span i {
  margin-right: 20px;
  color: #cf000f;
}

.social_link h5 {
  margin-bottom: 20px;
}

.social_link_icon {
  width: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social_link_icon i {
  color: #cf000f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.social_link_icon i:hover {
  font-size: 16px;
}

.contact_form h5 {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.forma input, .forma textarea {
  width: 100%;
  padding: 8px 0 8px 10px;
  background-color: #f1f4f9;
  border: none;
}

.send_button {
  padding: 12px 20px;
  background-color: #cf000f;
  border: none;
  text-transform: uppercase;
  font-family: "LatoRegular";
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-top: 30px;
}

/*==========================
FOOTER. Девятая секция
==========================*/
.footer {
  background-color: #000;
  padding: 50px 0;
}
